{% extends 'common/base.html' %}

{% block content %}

    <script type="text/x-handlebars" data-template-name="home">
        {% include 'ember/home.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="links">
        {% include 'ember/links.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="profile">
        {% include 'ember/profile.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="home/profile/ad">
        {% include 'ember/adcontrol.html' %}
    </script>

    <script type="text/x-handlebars" id="components/links-container">
        {% include 'ember-components/links.html' %}
    </script>

    <script type="text/x-handlebars" id="components/indv-link">
        {% include 'ember-components/indv_link.html' %}
    </script>

    <script type="text/x-handlebars" id="components/profile-img">
        {% include 'ember-components/profile_img.html' %}
    </script>

    <script type="text/x-handlebars" id="components/comments-container">
        {% include 'ember-components/comments.html' %}
    </script>

    <script type="text/x-handlebars" id="components/indv-comment">
        {% include 'ember-components/indv_comment.html' %}
    </script>

{% endblock %}

{% block extrajs %}
{% endblock %}