{% extends 'common/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="url" placeholder="{% trans %}post a link{% endtrans %}" name="link_url" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">{% trans %}Link it!{% endtrans %}</button>
            </form>
        </div>
    </div>
    <div id="links-list">
        <div data-bind="foreach: objects">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 link-panel">
                    <div class="row link-title"><a data-bind="text: title, attr: { href: url }" target="_blank"></a></div>
                    <div class="row link-details">
                        <img class="link-img pull-left" data-bind="attr: { src: img_url }" style="max-width: 200px; max-height: 200px;">
                        <span class="link-description" data-bind="text: description"></span>
                    </div>
                    <div class="row link-controls">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/spelinky.js') }}"></script>
    <script>
        $(document).ready(function(){
            Spelinky.resources.linksDiv = $('div#links-list');
            Spelinky.retrieve.links();
        });
    </script>
{% endblock %}