{% extends 'common/base.html' %}

{% block content %}

    <script type="text/x-handlebars" data-template-name="home">
        {% raw %}
            {{outlet "nav"}}

            <div style="margin-top: 70px;"></div>
            <div class="container">
                {{outlet}}
            </div>
        {% endraw %}
    </script>

    <script type="text/x-handlebars" data-template-name="home/index">
        {% include 'ember/links.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="nav">
        {% include 'ember/nav.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="profile">
        {% include 'ember/profile.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="home/profile/index">
        {% include 'ember/links.html' %}
    </script>

    <script type="text/x-handlebars" data-template-name="home/profile/ad">
        {% include 'ember/adcontrol.html' %}
    </script>

{% endblock %}

{% block extrajs %}
{% endblock %}