{% raw %}
    <div class="row">
        <div class="col-sm-12 link-form">
            <form class="inline-form">
                <button class="inline-form-btn btn btn-primary pull-right" {{action 'postLink' newUrl on="click"}}>link-it!</button>
                <span class="inline-form-span">
                    {{input type="url" value=newUrl class="form-control inline-form-input" placeholder="paste a link!"}}
                </span>
            </form>
        </div>
    </div>
    <br/>

    {{#each links}}
        {{indv-link link=this}}
    {{/each}}
{% endraw %}