{% raw %}
<div class="row">
    <div class="col-sm-3">
        <img width="100%" alt="profile image" {{bind-attr src=profile_img}}>
    </div>
    <div class="col-sm-9">
        <div class="row profile-row">
            <div class="col-sm-3">Username: </div>
            <div class="col-sm-6">{{username}}</div>
        </div>
        <div class="row profile-row">
            <div class="col-sm-3">Name: </div>
            <div class="col-sm-6">{{fullName}}</div>
        </div>
        <div class="row profile-row">
            <div class="col-sm-3">Email: </div>
            <div class="col-sm-6">{{email}}</div>
        </div>
        <div class="row profile-row">
            <div class="col-sm-3">Ad Level: </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-xs-1"><span id="lessAdsIndicator">$</span></div>
                    <div id="adLevelSlider" class="slider col-xs-6" style="margin-top: .3em;"></div>
                    <div class="col-xs-5"><span id="moreAdsIndicator">$$$</span></div>
                    {{input type="hidden" value=ad_level id="adLevelInput"}}
                </div>
            </div>
        </div>
        <div class="row profile-row">
            <div class="col-sm-3">Anonymous: </div>
            <div class="col-sm-6">
                {{input type="checkbox" checked=anonymous class="checkbox"}}
            </div>
        </div>
    </div>
</div>

{{outlet}}

{% endraw %}